<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>Contact Us - {$site.name}</title>
<meta name="description" content="[about:pagedesc]" />
<meta name="keywords" content="[about:pagekeys]" />
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/main.css"/>
<link type="text/css" rel="stylesheet" href="__CDN__/group/css/media-queries.css" />
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/form.css">
<script type="text/javascript" src="__CDN__/group/js/jquery.js"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQ8J39D');</script>
<!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ8J39D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{include file="common/head" /}
{include file="common/mbx" /}
<!-- <div class="sidebaner pr"> <img src="{tmp:rootdir}{tmp:spic}" /> </div>
<div class="path">
  <div class="wp cl">
    <p>{tmp:location style=> home=Home}</p>
  </div>
</div> -->
<div class="main wp">
  <div class="contact cl">
    <div class="contact-info">
      <h3>Contact information</h3>
      <p class="p1">{$site.name}</p>
{cms:blocklist id="block" name="contact" orderby="id" orderway="desc"}
  {if $block.title == 'tel'}
    <p class="p2"><a href="tel:{:str_replace(['<p>','</p>'], '', $block.content)}" rel="nofollow">{:str_replace(["<p>","</p>"], "", $block.content)}</a></p>
  {/if}
{/cms:blocklist}
{cms:blocklist id="block" name="contact" orderby="id" orderway="desc"}
  {if $block.title == 'Fax'}
  <p class="p3">Fax: {$block.title}:{:str_replace(["<p>","</p>"], "", $block.content)}</p>
  {/if}
{/cms:blocklist}
{cms:blocklist id="block" name="contact" orderby="id" orderway="desc"}
  {if $block.title == 'Add'}
  <p class="p4">Add: {$block.title}:{:str_replace(["<p>","</p>"], "", $block.content)}</p>
  {/if}
{/cms:blocklist}
{cms:blocklist id="block" name="contact" orderby="id" orderway="desc"}
  {if $block.title == 'Email'}
  <p class="p5"><a href="mailto:{:str_replace(['<p>','</p>'], '', $block.content)}" rel="nofollow">{:str_replace(["<p>","</p>"], "", $block.content)}</a></p>
  {/if}
{/cms:blocklist}
    </div>
    <div class="contact-inquiry">
<!--aifeedback v2 start -->
<div class="crm-form">
  <div class="create-form-wrap">
    <div class="create-form-title" style="background:#0F74A5;">Contact Us</div>
    <div class="create-form-inner">
      <div class="create-form-ul">
        <form class="contact-from" onsubmit="return $('.formPoint').show();" method="POST" action="/d/customer/post.html">
          <input type="hidden" name="__diyname__" value="customer">
          {:token()}
		      <div class="create-form-li">
            <div class="create-form-input">
              <label>Name<span style="color:#F00">*</span>:</label>
              <input type="text" required="required" name="row[name]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Country:</label>
              <input type="text" name="row[country]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Company:</label>
              <input type="text" name="row[company]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Email<span style="color:#F00">*</span>:</label>
              <input type="email" required="required" name="row[email]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Tel:</label>
              <input type="text" name="row[telephone]">
            </div>
          </div>
<div class="create-form-block create-form-li create-form-message">
            <div class="create-form-textarea">
              <label>Message<span style="color:#F00">*</span>:</label>
              <textarea required="required" name="row[content]"></textarea>
            </div>
          </div>
        </div>
        <div class="create-form-block create-form-cen create-form-action">
          <input type="hidden" class="cid" name="cid" value="381">
          <button type="submit" class="create-form-submit" style="background:#0F74A5;">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--aifeedback v2 end -->
<script type="text/javascript" src="__CDN__/group/js/form.js"></script>
    </div>
  </div>
</div>
{include file="common/foot" /}
<script type="text/javascript" src="__CDN__/group/js/jquery.js"></script> 
<script type="text/javascript" src="__CDN__/group/js/js.js"></script>
</body>
</html>