<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="1">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<meta name="msvalidate.01" content="13D6934EC79D9A73657A16A413368183" />
<title>DTH Bit, DTH Hammer, Dth Hammer Bit, Drill Dth Bit--{$site.name}</title>
<meta name="keywords" content="{tmp:sitekeys}" >
<meta name="description" content="{tmp:sitedesc}">
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/main.css"/>
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/swiper3.css"/>
<link type="text/css" rel="stylesheet" href="__CDN__/group/css/media-queries.css" />
<script type="text/javascript" src="__CDN__/group/js/jquery.js"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQ8J39D');</script>
<!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ8J39D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{include file="common/head" /}
<div id="banner">
  <div class="swiper-container">
    <div class="swiper-wrapper"> 
      {cms:blocklist id="block" name="banner" orderby="weigh" orderway="desc" }
        <div class="swiper-slide"><img src="{$block.image}" alt=""></div>
      {/cms:blocklist}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="indexA">
  <div class="wp cl">
    <h3><em>Product Categories</em></h3>
    <ul class="cl">
      {cms:channellist id="channel" type="son" typeid="44" condition="1=cpindex"}
      {cms:arclist id="item" flag="index" row="6" orderby="updatetime" channel="channel['id']", addon="content"}
      <li> <a class="pic" href="{$channel.url}">
        <img src="{$item.image}" /></a>
        <h5><a href="{$channel.url}">{$item.title}</a></h5>
      </li>
      {/cms:arclist}
      {/cms:channellist}
    </ul>
  </div>
</div>
<div class="indexB">
  <div class="wp cl">
    <div class="pic">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {cms:blocklist id="block" name="aboutTop" orderby="weigh" orderway="desc" }
            {notempty name="$block.images"}
            {volist name="$block.images|explode=',',###" id="image"}
              <div class="swiper-slide"><img src="{$image}" /></div>
            {/volist}
            {/notempty}
          {/cms:blocklist}
        </div>
        <div class="swiper-pagination"></div>
        </div>
    </div>
    
    <div class="txt">
      <h3>ABOUT US</h3>
      {cms:blocklist id="block" name="aboutTop" orderby="weigh" orderway="desc" }
        {$block.content} 
      {/cms:blocklist}
      <a class="more" href="/ABOUTUS.html">MORE <i class="qico qico-right7"></i></a>
    </div>
  </div>
</div>

{cms:blocklist id="block" name="aboutFoot" orderby="weigh" orderway="desc" }
<div class="indexC" style="background: url({$block.image})">
  <div class="wp cl">
    <h3>OUR MISSION</h3>
    {notempty name="$block.images"}
    {volist name="$block.images|explode=',',###" id="image"}
      <img src="{$image}" />
    {/volist}
    {/notempty}
    <h5>{$block.title}</h5>
    <p>{$block.content}</p>
  </div>
</div>
{/cms:blocklist}

<div class="wp indexD cl">
  <h3>LATEST NEWS</h3>
  <div class="cl"></div>
  <div class="indexnews">
    <ul>
      {cms:arclist id="item" flag="index" model="10"  row="3" orderby="updatetime" addon="content"}
      <li class="cl"> <a class="pic" href="{$item.url}"><img src="{$item.image}" alt="{$item.title}"/></a>
        <div class="t">
          <h5><a href="{$item.url}">{$item.title}</a></h5>
          <p>{:str_replace(["<p>","</p>"], "", $item.content)}</p>
          <div class="more"><span>{:date('M d, Y', $item.updatetime)}</span><a href="[content:link]">MORE <i class="qico qico-right7"></i></a></div>
        </div>
      </li>
      {/cms:arclist}
    </ul>
    <a class="getmore" href="/NEWS.html">MORE <i class="qico qico-right7"></i></a> </div>
  <div class="v"> <img src="__CDN__/group/images/news.jpg" /> </div>
</div>
{include file="common/foot" /} 
<script type="text/javascript" src="__CDN__/group/js/js.js"></script> 
<script type="text/javascript" src="__CDN__/group/js/swiper3.js"></script> 
<script type="text/javascript" src="__CDN__/group/js/index.js"></script>
</body>
</html>