<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>{tmp:sname}, Wholesale {tmp:sname} Suppliers, Manufacturers, Factory Price - {tmp:sitetitle}</title>
<meta name="keywords" content="China {tmp:sname}，Cheap {tmp:sname}, {tmp:sname} For sale" >
<meta name="description" content="{tmp:pagedesc}">
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/main.css"/>
<link type="text/css" rel="stylesheet" href="__CDN__/group/css/media-queries.css" />
<script type="text/javascript" src="__CDN__/group/js/jquery.js"></script>
</head>

<body>
{include file="common/head" /}
{include file="common/mbx" /}
<!-- <div class="sidebaner pr"> <img src="{tmp:rootdir}{tmp:spic}" alt="{tmp:sname}"/> </div>
<div class="path">
  <div class="wp cl">
    <p>{tmp:location style=> home=Home}</p>
  </div>
</div> -->
<div class="main wp cl">
  <div class="mainleft">
    {include file="common/left" /}
    {include file="sideform" /}
  </div>
  <div class="mainRight">
    <div class="productlist">
      <ul>
        {tmp:list sid={tmp:sid} size=10 order=order}
        <li> <a class="pic" href="[list:link]"><img src="{tmp:rootdir}[list:pic]" alt="[list:title]"/><ins></ins></a>
          <div class="txt cl">
            <h6><a href="[list:link]">[list:title]</a></h6>
            <p>[list:zpdesc]</p>
            <a class="more" href="[list:link]">MORE <i class="qico qico-right7"></i></a> </div>
        </li>
        {/tmp:list}
      </ul>
    </div>
    <div class="digg"> {list:page len=3 style=1} </div>
  </div>
</div>
{include file="common/foot" /}
<script type="text/javascript" src="__CDN__/group/js/js.js"></script>
</body>
</html>
