<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>prod, China [news:title] Manufacturers, Suppliers, Factory - {tmp:sitetitle}</title><meta name="keywords" content="Cheap [news:title], [news:title] For sale, Wholesale [news:title]" ><meta name="description" content="[news:pagedesc]">
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/main.css"/>
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/swiper3.css"/>
<link type="text/css" rel="stylesheet" href="__CDN__/group/css/media-queries.css" />
<link rel="stylesheet" type="text/css" href="__CDN__/group/css/form.css">
<script type="text/javascript" src="__CDN__/group/js/jquery.js"></script>
</head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQ8J39D');</script>
<!-- End Google Tag Manager -->
<body>
{include file="common/head" /}
{include file="common/mbx" /}
<div class="main wp cl">
  <div class="mainleft"> 
    {include file="common/left" /}
    {include file="sideform" /}
  </div>
  <div class="mainRight">
    <div class="pro_view_top cl">
      <div class="pro_img">
        <div class="view">
          <div class="swiper-container">
            <div class="swiper-wrapper"> 
              {notempty name="$__ARCHIVES__.images"}
                {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
                  <div class="swiper-slide">
                    <a class="fancybox" data-fancybox="images" href="{$image|cdnurl}"><img src="{$image|cdnurl}"></a>
                  </div>
                {/volist}
              {/notempty}
            </div>
          </div>
          <a class="arrow-left" href="#"><i class="qico qico-left6"></i></a> <a class="arrow-right" href="#"><i class="qico qico-right6"></i></a> </div>
        <div class="preview">
          <div class="swiper-container">
            <div class="swiper-wrapper"> 
              {notempty name="$__ARCHIVES__.images"}
                {volist name="$__ARCHIVES__.images|explode=',',###" id="image"}
                  <div class="swiper-slide">
                    <img src="{$image|cdnurl}">
                  </div>
                {/volist}
              {/notempty}
              </div>
          </div>
        </div>
      </div>
      <div class="pro_view_inner">
        <h1>{$__ARCHIVES__.title}</h1>
        <hr/>
        <div class="pro_para">
          <p>Item No: {$__ARCHIVES__.model}</p>
        </div>
        <a class="book" href="javascript:void(0);">Inquiry</a><!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox_ysau"></div> 
      </div>
     
    </div>
    <div class="pro_text">
      <div class="tit">
        <h5>Product Details</h5>
      </div>
      <div class="pro-content"> {$__ARCHIVES__.detail} </div>
    </div>
    <div class="pro-inquiry inquirShow">
<!--aifeedback v2 start -->
<div class="crm-form">
  <div class="create-form-wrap">
    <div class="create-form-title" style="background:#0F74A5;">Contact Us</div>
    <div class="create-form-inner">
      <div class="create-form-ul">
        <form class="contact-from" onsubmit="return $('.formPoint').show();" method="POST" action="/d/customer/post.html">
          <input type="hidden" name="__diyname__" value="customer">
          {:token()}
		      <div class="create-form-li">
            <div class="create-form-input">
              <label>Name<span style="color:#F00">*</span>:</label>
              <input type="text" name="row[name]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Country:</label>
              <input type="text" name="row[country]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Company:</label>
              <input type="text" name="row[company]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Email<span style="color:#F00">*</span>:</label>
              <input type="text" name="row[email]">
            </div>
          </div>
<div class="create-form-li">
            <div class="create-form-input">
              <label>Tel:</label>
              <input type="text" name="row[telephone]">
            </div>
          </div>
<div class="create-form-block create-form-li create-form-message">
            <div class="create-form-textarea">
              <label>Message<span style="color:#F00">*</span>:</label>
              <textarea name="row[content]"></textarea>
            </div>
          </div>
        </div>
        <div class="create-form-block create-form-cen create-form-action">
          <input type="hidden" class="cid" name="cid" value="381">
          <button type="submit" class="create-form-submit" style="background:#0F74A5;">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--aifeedback v2 end -->
<!-- <script type="text/javascript" src="https://www.frdrillgroup.com/aifeedback/form.js"></script> -->
    </div>
  </div>
 </div>
 {include file="common/foot" /}
<script type="text/javascript" src="__CDN__/group/js/js.js"></script> 
<script type="text/javascript" src="__CDN__/group/js/jquery.fancybox.js"></script> 
<script type="text/javascript" src="__CDN__/group/js/swiper3.js"></script> 
<script type="text/javascript" src="__CDN__/group/js/pro_detail.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bce940101aa23e2"></script> </body>
</html>