<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>[news:title], China [news:title] Manufacturers, Suppliers, Factory - {tmp:sitetitle}</title><meta name="keywords" content="Cheap [news:title], [news:title] For sale, Wholesale [news:title]" ><meta name="description" content="[news:pagedesc]">
<link rel="stylesheet" type="text/css" href="{tmp:tempath}css/public.css"/>
<link rel="stylesheet" type="text/css" href="{tmp:tempath}css/main.css"/>
<link rel="stylesheet" type="text/css" href="{tmp:tempath}css/swiper3.css"/>
<link type="text/css" rel="stylesheet" href="{tmp:tempath}css/media-queries.css" />
<script type="text/javascript" src="{tmp:tempath}js/jquery.js"></script>
</head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQ8J39D');</script>
<!-- End Google Tag Manager -->
<body>
{tmp:top}
<div class="sidebaner pr"> <img src="{tmp:rootdir}{tmp:spic}" alt="{tmp:sname}"/> </div>
<div class="path">
  <div class="wp cl">
    <p>{tmp:location style=> home=Home}</p>
  </div>
</div>
<div class="main wp cl">
  <div class="mainleft"> {tmp:left}
    {tmp:template src=sideform.html} </div>
  <div class="mainRight">
    <div class="pro_view_top cl">
      <div class="pro_img">
        <div class="view">
          <div class="swiper-container">
            <div class="swiper-wrapper"> {if:"[news:pics]"<>""}{pics:cid=[news:id]}
              <div class="swiper-slide"><a class="fancybox" data-fancybox="images" href="{tmp:rootdir}[pics:pic]"><img src="{tmp:rootdir}[pics:pic]"></a></div>
              {/pics}{end if} </div>
          </div>
          <a class="arrow-left" href="#"><i class="qico qico-left6"></i></a> <a class="arrow-right" href="#"><i class="qico qico-right6"></i></a> </div>
        <div class="preview">
          <div class="swiper-container">
            <div class="swiper-wrapper"> {if:"[news:pics]"<>""}{pics:cid=[news:id]}
              <div class="swiper-slide <?php if("[pics:i]"=="1") {?>   active-nav <?php }?>"><img src="{tmp:rootdir}[pics:pic]"></div>
              {/pics}{end if} </div>
          </div>
        </div>
      </div>
      <div class="pro_view_inner">
        <h1>[news:title]</h1>
        <hr/>
        <div class="pro_para">
          <p>[news:zjianjie]</p>
        </div>
        <a class="book" href="javascript:void(0);">Inquiry</a><!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox_ysau"></div> 
      </div>
     
    </div>
    <div class="pro_text">
      <div class="tit">
        <h5>Product Details</h5>
      </div>
      <div class="pro-content"> [news:content] </div>
    </div>
    <div class="pro-inquiry inquirShow">
      <link rel="stylesheet" type="text/css" href="https://www.frdrillgroup.com/aifeedback/form.css">
<!--aifeedback v2 start -->
<div class="crm-form">
  <div class="create-form-wrap">
    <div class="create-form-title" style="background:#0F74A5;">Contact Us</div>
    <div class="create-form-inner">
      <div class="create-form-ul">
        <form>
		<input type="hidden" value="1" name="fid">
		<input type="hidden" value="" name="ref" id="ref">
		<input type="hidden" value="" id="pagetitle" name="pagetitle">
		<div class="create-form-sort ui-sortable">
            <div class="create-form-li">
              <div class="create-form-input">
                <label>Name<span style="color:#F00">*</span>:</label>
                <input type="text" name="Name">
              </div>
            </div>
<div class="create-form-li">
              <div class="create-form-input">
                <label>Country:</label>
                <input type="text" name="Country">
              </div>
            </div>
<div class="create-form-li">
              <div class="create-form-input">
                <label>Company:</label>
                <input type="text" name="Company">
              </div>
            </div>
<div class="create-form-li">
              <div class="create-form-input">
                <label>Email<span style="color:#F00">*</span>:</label>
                <input type="text" name="Email">
              </div>
            </div>
<div class="create-form-li">
              <div class="create-form-input">
                <label>Tel:</label>
                <input type="text" name="Tel">
              </div>
            </div>
<div class="create-form-block create-form-li create-form-message">
              <div class="create-form-textarea">
                <label>Message<span style="color:#F00">*</span>:</label>
                <textarea name="Message"></textarea>
              </div>
            </div>
          </div>
          <div class="create-form-block create-form-cen create-form-action">
            <input type="hidden" class="cid" name="cid" value="381">
            <button type="submit" class="create-form-submit" style="background:#0F74A5;">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--aifeedback v2 end -->
<script type="text/javascript" src="https://www.frdrillgroup.com/aifeedback/form.js"></script>
    </div>
  </div>
 </div>
{tmp:foot} 
<script type="text/javascript" src="{tmp:tempath}js/js.js"></script> 
<script type="text/javascript" src="{tmp:tempath}js/jquery.fancybox.js"></script> 
<script type="text/javascript" src="{tmp:tempath}js/swiper3.js"></script> 
<script type="text/javascript" src="{tmp:tempath}js/pro_detail.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bce940101aa23e2"></script> </body>
</html>