<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>[news:title]-{tmp:sname}-{tmp:sitetitle}</title>
<meta name="keywords" content="[news:pagekeys]" >
<meta name="description" content="[news:pagedesc]">
<link rel="stylesheet" type="text/css" href="{tmp:tempath}css/public.css"/>
<link rel="stylesheet" type="text/css" href="{tmp:tempath}css/main.css"/>
<link type="text/css" rel="stylesheet" href="{tmp:tempath}css/media-queries.css" />
<script type="text/javascript" src="{tmp:tempath}js/jquery.js"></script>
</head>

<body>
{tmp:top}
<div class="sidebaner pr"> <img src="{tmp:rootdir}{tmp:spic}" alt="{tmp:sname}"/> </div>
<div class="path">
  <div class="wp cl">
    <p>{tmp:location style=> home=Home}</p>
  </div>
</div>
<div class="main wp cl">
  <div class="newsnr">
    <h1>[news:title]</h1>
    <div class="artInfo"> <span class="time">Time : [news:date]</span> <span class="hit">Hits : [news:visits]</span> <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox_ysau"></div> </div>
    <div class="myart"> [news:content] </div>
    <div class="pnbar cl">
      <p>Prev : <a href="[news:prevlink]">{if:"[news:prevlink]"<>""}[news:prevtitle]{else}None{end if}</a></p>
      <p>Next : <a href="[news:nextlink]">{if:"[news:nextlink]"<>""}[news:nexttitle]{else}None{end if}</a></p>
    </div>
  </div>
</div>
{tmp:foot}
<script type="text/javascript" src="{tmp:tempath}js/js.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bce940101aa23e2"></script> </body>
</html>