<div class="pro-inquiry side-inquiry">
     <link rel="stylesheet" type="text/css" href="https://www.frdrillgroup.com/aifeedback/form.css">
<!--aifeedback v2 start -->
<div class="crm-form">
  <div class="create-form-wrap">
    <div class="create-form-title" style="background:#0F74A5;">Contact Us</div>
    <div class="create-form-inner">
      <div class="create-form-ul">
        <form>
		<input type="hidden" value="1" name="fid">
		<input type="hidden" value="" name="ref" id="ref">
		<input type="hidden" value="" id="pagetitle" name="pagetitle">
		<div class="create-form-sort ui-sortable">
            <div class="create-form-li create-form-block">
              <div class="create-form-input">
                <label>Name<span style="color:#F00">*</span>:</label>
                <input type="text" name="Name">
              </div>
            </div>
<div class="create-form-li create-form-block">
              <div class="create-form-input">
                <label>Country:</label>
                <input type="text" name="Country">
              </div>
            </div>
<div class="create-form-li create-form-block">
              <div class="create-form-input">
                <label>Company:</label>
                <input type="text" name="Company">
              </div>
            </div>
<div class="create-form-li create-form-block">
              <div class="create-form-input">
                <label>Email<span style="color:#F00">*</span>:</label>
                <input type="text" name="Email">
              </div>
            </div>
<div class="create-form-li create-form-block">
              <div class="create-form-input">
                <label>Tel:</label>
                <input type="text" name="Tel">
              </div>
            </div>
<div class="create-form-block create-form-li create-form-message">
              <div class="create-form-textarea">
                <label>Message<span style="color:#F00">*</span>:</label>
                <textarea name="Message"></textarea>
              </div>
            </div>
          </div>
          <div class="create-form-block create-form-cen create-form-action">
            <input type="hidden" class="cid" name="cid" value="381">
            <button type="submit" class="create-form-submit" style="background:#0F74A5;">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--aifeedback v2 end -->
<script type="text/javascript" src="https://www.frdrillgroup.com/aifeedback/form.js"></script>
    </div>