<div id="footer">
  <div class="wp cl">
    <div class="foot-contact">
      <h5>{$site.name}</h5>
{cms:blocklist id="block" name="contact" orderby="id" orderway="desc"}
{if $block.title == 'tel'}
<p>Tel:<a href="tel:{:str_replace(['<p>','</p>'], '', $block.content)}" rel="nofollow">{:str_replace(["<p>","</p>"], "", $block.content)}</a></p>
{elseif $block.title == 'Email'}
<p>Email: <a href="mailto:{:str_replace(['<p>','</p>'], '', $block.content)}" rel="nofollow">{:str_replace(["<p>","</p>"], "", $block.content)}</a>
{else}
<p>{$block.title}:{:str_replace(["<p>","</p>"], "", $block.content)}</p>
{/if}
{/cms:blocklist}

      <div class="share">
        <a href="https://www.facebook.com/pages/creation/?ref_type=universal_creation_hub" rel="nofollow"><i class="qico qico-facebook"></i></a> 
        <a href="https://twitter.com/home?lang=en" rel="nofollow"><i class="qico qico-twitter"></i></a> 
        <a href="https://www.linkedin.com/in/%E9%98%B3-%E6%AC%A7-1206161a3/" rel="nofollow"><i class="qico qico-linkedin"></i></a>
        <a href="https://www.pinterest.com/ojack1582/pins/" rel="nofollow"><i class="qico qico-pinterest"></i></a>
        <a href="https://www.instagram.com/frienddrillgroup/" rel="nofollow"><i class="qico qico-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCuUSPOFcshugm7knbZ0lzcA/videos" rel="nofollow"><i class="qico qico-youtube"></i></a>
    </div>
    </div>
    <div class="foot-list">
      <h5>Product</h5>
      <ul>
        {cms:channellist id="channel" type="son" typeid="44" condition="1=cpindex" orderby="weigh" orderway="asc"}
          <li><a href="{$channel.url}" rel="nofollow">{$channel.name}</a></li>
        {/cms:channellist}
      </ul>
    </div>
    <div class="foot-nav">
      <h5>MENU</h5>
      <ul>
        {cms:channellist id="nav" type="top" cache="0" condition="1=isnav" row="20"}
          <li><a href="{$nav.url}" rel="nofollow">{$nav.name}</a></li>
        {/cms:channellist}
      </ul>
    </div>
    <div class="foot-form">
      <h5>Subscribe</h5>
      <div class="sendemail cl">
        <!-- <form name="inviteform" method="post" action="{tmp:rootdir}/?invitat">
          <input class="post-text" name="email" type="text" placeholder="Enter your email" />
          <textarea id="pintro-ly_content" name="message" maxlength="300" rows="4" class="c_cnt" placeholder="Enter your message"></textarea>
          <button type="submit" class="post-btn" id="chk_math">SUBMIT</button>
        </form> -->

        <form class="contact-from" onsubmit="return $('.formPoint').show();" method="POST" action="/d/customer/post.html">
          <input type="hidden" name="__diyname__" value="customer">
          {:token()}
          <input class="post-text" name="row[email]" id="email" type="text" placeholder="Enter your email" />
          <textarea id="pintro-ly_content" name="row[content]" id="message" maxlength="300" rows="4" class="c_cnt" placeholder="Enter your message"></textarea>
          <button type="submit" class="post-btn" id="chk_math">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Changsha Friend Industrial Co.,Ltd All rights reserved 
	<script type="text/javascript">window.onload = function() {var mf = document.createElement("script");mf.type = "text/javascript"; mf.src = "https://www.analytics-service.com/analytics.php?cid=hnfuyude&mod=im&type=list&charset=gb2312&gmt8=1";document.getElementsByTagName("body")[0].appendChild(mf);};</script>
	<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278630424'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278630424%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
  </div>
</div>
<div id="gotop"><i class="qico qico-up"></i></div>
<div id="footBar">
  <ul class="cl">
    <li><a href="{tmp:homelink}" rel="nofollow"><i class="qico qico-home"></i><span>HOME</span></a></li>
    <li><a href="{tmp:type sid=1}[type:link]{/tmp:type}" rel="nofollow"><i class="qico qico-sort"></i><span>Products</span></a></li>
    <li><a href="mailto:{tmp:email}" rel="nofollow"><i class="qico qico-youxiang"></i><span>E-mail</span></a></li>
    <li><a href="tel:{tmp:tel}" rel="nofollow"><i class="qico qico-tel"></i><span>Tel</span></a></li>
  </ul>
</div><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174305374-1"></script><script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-174305374-1');</script>